{% extends "drum.html" %} {% block title %}Double Tenor Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1150 550"
        preserveAspectRatio="xMidYMid meet">
            <image href="/static/double_tenor.png" x="22" y="4" height="550"></image>
            <image href="/static/double_tenor_2.png" x="574" y="5" height="550"></image>
            <ellipse cx="300" cy="282" rx="262" ry="262" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="848" cy="279" rx="262" ry="262" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            
        </svg>
    </div>

    {% endblock %}