{% extends "drum.html" %} {% block title %}Double Tenor Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1150 550"
        preserveAspectRatio="xMidYMid meet">
            <ellipse cx="300" cy="282" rx="262" ry="262" stroke="black" stroke-width="3" fill="gainsboro" 
            fill="grey"/>
            <ellipse cx="848" cy="279" rx="262" ry="262" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>

            **<a href='#' id="A1" onclick="playNote(A5);">**
                <path d="M 257 276 l 2 34 A 25 25 0 0 0 294 303 l -10 -33 A 17 17 0 0 0 257 275 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:24px" x="266" y="297" class="notes">A</text>
            **</a>**

            **<a href='#' id="C#1" onclick="playNote(Db5);">**
                <path d="M 300 247 l 0 28 A 18 18 0 0 0 324 275 L 336 245 A 30 30 0 0 0 300 245 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:24px" x="303" y="265" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G1" onclick="playNote(G5);">**
                <path d="M 808 243 L 813 285 A 25 25 0 0 0 851 277 L 837 237 A 21 21 0 0 0 808 242 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:24px" x="819" y="270" class="notes">G</text>
            **</a>**

            **<a href='#' id="D1" onclick="playNote(D5);">**
                <path d="M 885 243 L 858 265 A 25 25 0 0 0 885 285 L 899 256 A 13 13 0 0 0 886 243 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:24px" x="872" y="274" class="notes">D</text>
            **</a>**

            **<a href='#' id="C2-1" onclick="playNote(C4);">**
                <path d="M 201 351 l 30 -22 A 28 28 0 0 1 264 353 l -23 33 A 33 33 0 0 1 200 352 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="220" y="370" class="notes">C</text>
            **</a>**

            **<a href='#' id="C2-2" onclick="playNote(C4);">**
                <path d="M 292 347 l -20 55 A 60 60 0 0 0 352 404 L 340 350 A 45 45 0 0 0 292 347 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="305" y="390" class="notes">C</text>
            **</a>**

            **<a href='#' id="Eb2" onclick="playNote(Eb4);">**
                <path d="M 343 326 L 373 355 A 32 32 0 0 0 404 312 L 367 295 A 35 35 0 0 0 343 326 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="365" y="335" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Ab2" onclick="playNote(Ab4);">**
                <path d="M 368 274 L 415 263 A 35 35 0 0 0 395 212 L 354 235 A 34 34 0 0 0 367 274 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="373" y="255" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C#2" onclick="playNote(Db4);">**
                <path d="M 340 206 L 354 158 A 40 40 0 0 0 295 147 L 294 197 A 28 28 0 0 0 340 206 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="305" y="185" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="A2" onclick="playNote(A4);">**
                <path d="M 265 206 L 235 160 A 45 45 0 0 0 185 205 L 232 238 A 30 30 0 0 0 265 206 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="215" y="207" class="notes">A</text>
            **</a>**

            **<a href='#' id="F2" onclick="playNote(F4);">**
                <path d="M 178 307 L 218 295 A 25 25 0 0 0 215 257 L 175 255 A 30 30 0 0 0 178 307 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="185" y="290" class="notes">F</text>
            **</a>**

            **<a href='#' id="D2" onclick="playNote(D4);">**
                <path d="M 845 351 L 855 405 A 35 35 0 0 0 911 383 L 885 340 A 30 30 0 0 0 845 350 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="865" y="385" class="notes">D</text>
            **</a>**

            **<a href='#' id="F#2" onclick="playNote(Fs4);">**
                <path d="M 901 315 L 945 346 A 40 40 0 0 0 962 285 L 913 275 A 37 37 0 0 0 900 314 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="920" y="315" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Bb2" onclick="playNote(Bb4);">**
                <path d="M 928 256 L 975 232 A 30 30 0 0 0 945 193 L 910 220 A 30 30 0 0 0 927 256 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="930" y="235" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="E2" onclick="playNote(E4);">**
                <path d="M 885 210 L 906 160 A 40 40 0 0 0 847 155 L 847 205 A 27 27 0 0 0 885 210 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="862" y="190" class="notes">E</text>
            **</a>**

            **<a href='#' id="B2-1" onclick="playNote(B4);">**
                <path d="M 757 191 L 795 215 A 25 25 0 0 0 819 187 L 788 157 A 30 30 0 0 0 757 190 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="778" y="195" class="notes">B</text>
            **</a>**

            **<a href='#' id="B2-2" onclick="playNote(B4);">**
                <path d="M 721 294 L 777 284 A 27 27 0 0 0 777 240 L 725 225 A 45 45 0 0 0 720 293 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="735" y="270" class="notes">B</text>
            **</a>**

            **<a href='#' id="G2" onclick="playNote(G4);">**
                <path d="M 782 388 L 815 337 A 30 30 0 0 0 780 307 L 732 340 A 46 46 0 0 0 782 388 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:32px" x="765" y="355" class="notes">G</text>
            **</a>**

            **<a href='#' id="A3" onclick="playNote(A3);">**
                <path d="M 81 140 L 145 200 L 257 117 L 212 35 A 262 262 0 0 0 80 140 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="150" y="133" class="notes">A</text>
            **</a>**

            **<a href='#' id="F3-1" onclick="playNote(F3);">**
                <path d="M 69 405 L 145 375 L 145 200 L 56 187 A 262 262 0 0 0 69 405 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="75" y="310" class="notes">F</text>
            **</a>**

            **<a href='#' id="F3-2" onclick="playNote(F3);">**
                <path d="M 167 507 L 227 417 L 155 365 L 90 438 A 262 262 0 0 0 167 508 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="140" y="460" class="notes">F</text>
            **</a>**

            **<a href='#' id="C3" onclick="playNote(C3);">**
                <path d="M 373 533 L 357 437 L 217 436 L 208 527 A 262 262 0 0 0 373 534 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="270" y="510" class="notes">C</text>
            **</a>**

            **<a href='#' id="Eb3" onclick="playNote(Eb3);">**
                <path d="M 528 410 L 453 345 L 359 442 L 419 515 A 262 262 0 0 0 529 410 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="425" y="450" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Ab3-1" onclick="playNote(Ab3);">**
                <path d="M 557 237 L 430 244 L 428 344 L 554 348 A 262 262 0 0 0 558 237 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="470" y="310" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Ab3-2" onclick="playNote(Ab3);">**
                <path d="M 452 68 L 383 128 L 462 242 L 550 203 A 262 262 0 0 0 452 68 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="445" y="170" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C#3" onclick="playNote(Db3);">**
                <path d="M 251 25 L 257 117 L 383 128 L 395 38 A 262 262 0 0 0 251 25 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="300" y="90" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="D3" onclick="playNote(D3);">**
                <path d="M 785 532 L 795 435 L 913 430 L 935 526 A 262 262 0 0 1 785 533 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="840" y="505" class="notes">D</text>
            **</a>**

            **<a href='#' id="F#3-1" onclick="playNote(Fs3);">**
                <path d="M 971 509 L 908 420 L 972 365 L 1052 443 A 262 262 0 0 1 972 510 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px;" x="960" y="455" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="F#3-2" onclick="playNote(Fs3);">**
                <path d="M 1084 392 L 986 378 L 1000 207 L 1093 185 A 262 262 0 0 1 1085 392 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="1030" y="310" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Bb3-1" onclick="playNote(Bb3);">**
                <path d="M 1076 152 L 1000 207 L 897 120 L 935 32 A 262 262 0 0 1 1077 152 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="960" y="135" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Bb3-2" onclick="playNote(Bb3);">**
                <path d="M 900 22 L 895 129 L 815 130 L 807 20 A 262 262 0 0 1 900 22 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="830" y="90" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="E3" onclick="playNote(E3);">**
                <path d="M 774 28 L 813 117 L 710 183 L 646 112 A 262 262 0 0 1 774 28 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="710" y="125" class="notes">E</text>
            **</a>**

            **<a href='#' id="B3" onclick="playNote(B3);">**
                <path d="M 614 162 L 710 182 L 684 318 L 591 332 A 262 262 0 0 1 614 162 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="630" y="265" class="notes">B</text>
            **</a>**

            **<a href='#' id="G3" onclick="playNote(G3);">**
                <path d="M 608 382 L 684 318 L 795 435 L 735 515 A 262 262 0 0 1 607 382 Z"
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:52px" x="680" y="435" class="notes">G</text>
            **</a>**
        </svg>
    </div>

    {% endblock %}