{% extends "user.html" %} {% block title %}Select a Drum{% endblock %} {% block content
    %}
    <h1 align="center" style="line-height: 70px;">Select a Drum</h1>
    <div class="container-fluid">
        <div class="row" style="row-gap:20px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/lead'>
                        <img src="/static/Design/lead-low-res.png" width="275px" align="center" />
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/double-tenor'>
                        <img src="/static/Design/double-tenor-low-res.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/double-second'>
                        <img src="/static/Design/double-second-low-res.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/guitar-cello'>
                        <img src="/static/Design/guitar-cello-low-res.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/tenor-bass'>
                        <img src="/static/Design/tenor-bass-low-res.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/six-bass'>
                        <img src="/static/Design/six-bass-low-res.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
