{% extends "drum.html" %} {% block title %}Guitar/Cello Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1015 826"
        preserveAspectRatio="xMidYMid meet">
            <image href="/static/guitar_cello.png" x="0" y="360" height="442"></image>
            <image href="/static/guitar_cello_right.png" x="570" y="363" height="447"></image>
            <image href="/static/guitar_cello_top.png" x="283" y="22" height="438"></image>
            <ellipse cx="505" cy="245" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="222" cy="581" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="790" cy="581" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>

            **<a href='#' id="Ab1">**
                <ellipse cx="154" cy="586" rx="20" ry="36" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(-14, 154, 586)"/>
            **</a>**

            **<a href='#' id="B1">**
                <ellipse cx="191" cy="526" rx="19" ry="31" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(5, 191, 526)"/>
            **</a>**

            **<a href='#' id="F1">**
                <ellipse cx="272" cy="568" rx="23" ry="40" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(-70, 272, 568)"/>
            **</a>**

            **<a href='#' id="D1">**
                <path d="M 170 658 l 120 1 A 30 29 0 0 0 170 658 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="A1">**
                <ellipse cx="458" cy="230" rx="18" ry="33" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(27, 458, 230)"/>
            **</a>**

            **<a href='#' id="C1-2">**
                <ellipse cx="524" cy="196" rx="17" ry="29" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(7, 523, 196)"/>
            **</a>**

            **<a href='#' id="F#1">**
                <ellipse cx="575" cy="242" rx="22" ry="39" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(2, 575, 242)"/>
            **</a>**

            **<a href='#' id="C1-1">**
                <path d="M 435 318 l 125 1 A 30 29 135 0 0 435 318 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="G1">**
                <ellipse cx="737" cy="564" rx="22" ry="40" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(45, 735, 565)"/>
            **</a>**

            **<a href='#' id="C#1">**
                <ellipse cx="812" cy="540" rx="20" ry="33" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(5, 812, 540)"/>
            **</a>**

            **<a href='#' id="Bb1">**
                <ellipse cx="866" cy="582" rx="15" ry="25" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(0, 812, 540)"/>
            **</a>**

            **<a href='#' id="C#1-1">**
                <path d="M 730 653 l 125 3 A 30 30 0 0 0 730 653 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Ab2">**
                <path d="M 74 730 L 143 672 L 112 550 L 15 543 A 210 210 0 0 0 73 730 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="D2">**
                <path d="M 350 747 L 298 668 L 143 672 L 90 745 A 210 210 0 0 0 350 747 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="F2">**
                <path d="M 371 726 L 298 668 L 333 557 L 427 530 A 210 210 0 0 1 371 726 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="B2-1">**
                <path d="M 420 515 L 333 557 L 179 475 L 174 377 A 210 210 0 0 1 420 515 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="B2-2">**
                <path d="M 150 385 L 179 475 L 112 550 L 23 510 A 210 210 0 0 1 150 385 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="C2">**
                <path d="M 385 417 L 425 327 L 605 327 L 638 408 A 210 210 0 0 1 385 417 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="F#2">**
                <path d="M 670 377 L 607 327 L 615 197 L 703 175 A 210 210 0 0 1 670 377 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="A2">**
                <path d="M 689 143 L 615 197 L 520 140 L 537 37 A 210 210 0 0 1 690 143 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Eb2-1">**
                <path d="M 516 35 L 516 140 L 393 237 L 298 212 A 210 210 0 0 1 516 35 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Eb2-2">**
                <path d="M 365 403 L 425 327 L 393 237 L 295 241 A 210 210 0 0 0 365 403 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="E2-1">**
                <path d="M 581 574 L 685 573 L 713 663 L 640 729 A 210 210 0 0 1 580 574 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="E2-2">**
                <path d="M 808 373 L 806 470 L 682 570 L 582 552 A 210 210 0 0 1 807 373 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="C#2">**
                <path d="M 658 744 L 713 663 L 871 669 L 918 748 A 210 210 0 0 1 658 745 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Bb2">**
                <path d="M 943 726 L 871 669 L 910 558 L 998 559 A 210 210 0 0 1 943 726 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="G2">**
                <path d="M 996 536 L 909 558 L 810 470 L 830 375 A 210 210 0 0 1 996 536 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**
        </svg>
    </div>

    {% endblock %}