{% extends "drum.html" %} {% block title %}Guitar/Cello Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1015 826"
        preserveAspectRatio="xMidYMid meet">
            <ellipse cx="505" cy="245" rx="210" ry="210" class="drum" />
            <ellipse cx="222" cy="581" rx="210" ry="210" class="drum" />
            <ellipse cx="790" cy="581" rx="210" ry="210" class="drum" />

            **<a href='#' id="Ab1" onclick="playNote(Ab4);">**
                <ellipse cx="154" cy="586" rx="20" ry="36" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(-14, 154, 586)"/>
                <text style="font-size:26px" x="142" y="595" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="B1" onclick="playNote(B4);">**
                <ellipse cx="191" cy="526" rx="19" ry="31" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(5, 191, 526)"/>
                <text style="font-size:26px" x="183" y="535" class="notes">B</text>
            **</a>**

            **<a href='#' id="F1" onclick="playNote(F4);">**
                <ellipse cx="272" cy="568" rx="23" ry="40" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(-70, 272, 568)"/>
                <text style="font-size:26px" x="265" y="575" class="notes">F</text>
            **</a>**

            **<a href='#' id="D1" onclick="playNote(D4);">**
                <path d="M 170 658 l 120 1 A 30 29 0 0 0 170 658 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:30px" x="220" y="640" class="notes">D</text>
            **</a>**

            **<a href='#' id="A1" onclick="playNote(A4);">**
                <ellipse cx="458" cy="230" rx="18" ry="33" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(27, 458, 230)"/>
                <text style="font-size:26px" x="450" y="237" class="notes">A</text>
            **</a>**

            **<a href='#' id="C1-2" onclick="playNote(C5);">**
                <ellipse cx="524" cy="196" rx="17" ry="29" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(7, 523, 196)"/>
                <text style="font-size:26px" x="515" y="205" class="notes">C</text>
            **</a>**

            **<a href='#' id="F#1" onclick="playNote(Fs4);">**
                <ellipse cx="575" cy="242" rx="22" ry="39" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(2, 575, 242)"/>
                <text style="font-size:26px" x="563" y="250" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="C1-1" onclick="playNote(C4);">**
                <path d="M 435 318 l 125 1 A 30 29 135 0 0 435 318 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:30px" x="490" y="300" class="notes">C</text>
            **</a>**

            **<a href='#' id="G1" onclick="playNote(G4);">**
                <ellipse cx="737" cy="564" rx="22" ry="40" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(45, 735, 565)"/>
                <text style="font-size:26px" x="728" y="575" class="notes">G</text>
            **</a>**

            **<a href='#' id="C#1-1" onclick="playNote(Db5);">**
                <ellipse cx="812" cy="540" rx="20" ry="33" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(5, 812, 540)"/>
                <text style="font-size:26px" x="800" y="550" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Bb1" onclick="playNote(Bb4);">**
                <ellipse cx="866" cy="582" rx="15" ry="25" stroke="black" stroke-width="3" fill="white" fill-opacity="50%" 
                fill="grey" transform="rotate(0, 812, 540)"/>
                <text style="font-size:25px" x="855" y="590" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C#1-2" onclick="playNote(Db4);">**
                <path d="M 730 653 l 125 3 A 30 30 0 0 0 730 653 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:30px" x="780" y="635" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Ab2" onclick="playNote(Ab3);">**
                <path d="M 75 730 L 143 672 L 112 550 L 15 543 A 210 210 0 0 0 74 730 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="55" y="645" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="D2" onclick="playNote(D3);">**
                <path d="M 350 747 L 298 668 L 143 672 L 90 743 A 210 210 0 0 0 350 747 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="200" y="750" class="notes">D</text>
            **</a>**

            **<a href='#' id="F2" onclick="playNote(F3);">**
                <path d="M 372 726 L 298 668 L 333 557 L 426 530 A 210 210 0 0 1 372 726 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="360" y="640" class="notes">F</text>
            **</a>**

            **<a href='#' id="B2-1" onclick="playNote(B2);">**
                <path d="M 421 515 L 333 557 L 179 475 L 174 377 A 210 210 0 0 1 421 515 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="270" y="480" class="notes">B</text>
            **</a>**

            **<a href='#' id="B2-2" onclick="playNote(B3);">**
                <path d="M 150 385 L 179 475 L 112 550 L 25 510 A 210 210 0 0 1 150 385 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="90" y="495" class="notes">B</text>
            **</a>**

            **<a href='#' id="C2" onclick="playNote(C3);">**
                <path d="M 385 417 L 425 327 L 605 327 L 638 407 A 210 210 0 0 1 385 417 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="490" y="410" class="notes">C</text>
            **</a>**

            **<a href='#' id="F#2" onclick="playNote(Fs3);">**
                <path d="M 668 377 L 607 327 L 615 197 L 703 175 A 210 210 0 0 1 668 377 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="640" y="285" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="A2" onclick="playNote(A3);">**
                <path d="M 688 143 L 615 197 L 520 140 L 537 38 A 210 210 0 0 1 689 143 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="580" y="140" class="notes">A</text>
            **</a>**

            **<a href='#' id="Eb2-1" onclick="playNote(Eb3);">**
                <path d="M 516 35 L 518 140 L 393 237 L 298 212 A 210 210 0 0 1 516 35 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="400" y="155" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Eb2-2" onclick="playNote(Eb4);">**
                <path d="M 367 403 L 425 327 L 393 237 L 295 241 A 210 210 0 0 0 366 403 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="340" y="325" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="E2-1" onclick="playNote(E4);">**
                <path d="M 581 574 L 685 573 L 713 663 L 641 729 A 210 210 0 0 1 580 574 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="625" y="655" class="notes">E</text>
            **</a>**

            **<a href='#' id="E2-2" onclick="playNote(E3);">**
                <path d="M 808 372 L 806 470 L 682 570 L 582 552 A 210 210 0 0 1 807 372 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="685" y="490" class="notes">E</text>
            **</a>**

            **<a href='#' id="C#2" onclick="playNote(Db3);">**
                <path d="M 658 743 L 713 663 L 871 669 L 918 748 A 210 210 0 0 1 658 744 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="760" y="745" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Bb2" onclick="playNote(Bb3);">**
                <path d="M 942 726 L 871 669 L 910 558 L 998 559 A 210 210 0 0 1 942 726 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="920" y="650" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="G2" onclick="playNote(G3);">**
                <path d="M 995 536 L 909 558 L 806 470 L 830 375 A 210 210 0 0 1 995 536 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="870" y="490" class="notes">G</text>
            **</a>**
        </svg>
    </div>

    {% endblock %}