{% extends "user.html" %} {% block title %}Help{% endblock %} {% block content
    %}
    <h1 align="center" style="line-height: 100px;">Info</h1>
    <body>
        {# BUTTONS #}
        <a href = "/menu">
          <button class="button button1"><i class="fa-solid fa-arrow-left"></i> Menu</button>
        </a>

        <a href = "/settings">
            <button class="button button3"><img src="/static/Design/settings-icon.png" alt="Settings" width="55"></button>
        </a>
    </body>
    {% endblock %}