{% extends "user.html" %} {% block title %}Help{% endblock %} {% block content
    %}
    <h1 align="center" style="line-height: 70px;">Info</h1>
<!--    <body>-->
<!--        {# BUTTONS #}-->
<!--        <a href = "/menu">-->
<!--          <button class="button button1">Menu</button>-->
<!--        </a>-->

<!--        <a href = "/settings">-->
<!--            <button class="button button3"><img src="/static/Design/settings-icon.png" alt="Settings" width="55"></button>-->
<!--        </a>-->
<!--    </body>-->
<!--    <div id="content" style="width: 100%; height: 100%">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"-->
<!--        viewBox="0 0 1000 1000"-->
<!--        preserveAspectRatio="xMidYMid meet">-->
<!--            <ellipse cx="505" cy="245" rx="210" ry="210" class="drum" />-->
<!--            <ellipse cx="222" cy="581" rx="210" ry="210" class="drum" />-->
<!--            <ellipse cx="790" cy="581" rx="210" ry="210" class="drum" />-->

<!--            **<a href='#' id="Ab1" onclick="playNote(Ab4);">**-->
<!--                <ellipse cx="154" cy="586" rx="20" ry="36" stroke="black" stroke-width="3" fill="white" fill-opacity="50%"-->
<!--                fill="grey" transform="rotate(-14, 154, 586)"/>-->
<!--                <text style="font-size:26px" x="142" y="595" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>-->
<!--            **</a>**-->
<!--            **<a href='/settings'>**-->
<!--                **<image  href="static/Design/settings-icon.png" width="80px" x="900px"></image>-->
<!--            **</a>**-->
<!--        </svg>-->
<!--    </div>-->
    {% endblock %}