{% extends "drum.html" %} {% block title %}Lead Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1000 1000"
        preserveAspectRatio="xMidYMid meet">
            <ellipse cx="500" cy="498" rx="480" ry="478" class="drum" />
        </svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="240 12 620 620"
        preserveAspectRatio="xMidYMid meet">
            **<a href='#' id="G0" onclick="playNote(G5);">**
                <circle cx="548" cy="310" r="12" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:18px" x="541" y="316" class="notes">G</text>
            **</a>**

            **<a href='#' id="C#1" onclick="playNote(Db5);">**
                <rect x="475" y="258" width="45" height="30" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="15" rx="15" transform="rotate(32, 497.5, 275)" />
                <text style="font-size:18px" x="489" y="279" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Eb1" onclick="playNote(Eb5);">**
                <rect x="462" y="317" width="40" height="25" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="12" rx="12" transform="rotate(-49, 482, 324.5)" />
                <text style="font-size:18px" x="479" y="333" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="F1" onclick="playNote(F5);">**
                <rect x="503" y="350" width="37" height="25" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="12" rx="12" transform="rotate(90, 520.5, 362.5)" />
                <text style="font-size:18px" x="516" y="370" class="notes">F</text>
            **</a>**

            **<a href='#' id="C1" onclick="playNote(C5);">**
                <rect x="557" y="340" width="44" height="35" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="15" rx="15" transform="rotate(55, 579, 357.5)" />
                <text style="font-size:18px" x="572" y="363" class="notes">C</text>
            **</a>**

            **<a href='#' id="D1" onclick="playNote(D5);">**
                <rect x="592" y="294" width="40" height="25" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="12" rx="12" transform="rotate(-12, 612, 307.5)" />
                <text style="font-size:18px" x="606" y="312" class="notes">D</text>
            **</a>**

            **<a href='#' id="E1" onclick="playNote(E5);">**
                <rect x="569" y="250" width="38" height="25" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="12" rx="12" transform="rotate(-55, 587, 262.5)" />
                <text style="font-size:18px" x="582" y="267" class="notes">E</text>
            **</a>**

            **<a href='#' id="F#1" onclick="playNote(Fs5);">**
                <rect x="525" y="246" width="32" height="22" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="12" rx="12" transform="rotate(90, 544, 257)" />
                <text style="font-size:17px" x="537" y="260" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="C#2" onclick="playNote(Db4);">**
                <rect x="451" y="177" width="77" height="50" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="25" rx="25" transform="rotate(65, 493.5, 205)" />
                <text style="font-size:28px" x="480" y="207" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G#2" onclick="playNote(Ab3);">**
                <rect x="402" y="210" width="66" height="44" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(40, 436, 233)" />
                <text style="font-size:28px" x="420" y="240" class="notes">G<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Eb2" onclick="playNote(Eb4);">**
                <rect x="380" y="272" width="80" height="52" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="25" rx="25" transform="rotate(18, 420, 300)" />
                <text style="font-size:28px" x="410" y="307" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Bb2" onclick="playNote(Bb3);">**
                <rect x="380" y="345" width="64" height="44" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(-20, 412, 367)" />
                <text style="font-size:28px" x="400" y="377" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="F2" onclick="playNote(F4);">**
                <rect x="425" y="390" width="68" height="50" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(-50, 462, 415)" />
                <text style="font-size:28px" x="455" y="425" class="notes">F</text>
            **</a>**

            **<a href='#' id="C2" onclick="playNote(C4);">**
                <rect x="505" y="393" width="68" height="84" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="30" rx="30" transform="rotate(0, 462, 415)" />
                <text style="font-size:28px" x="530" y="443" class="notes">C</text>
            **</a>**

            **<a href='#' id="G2" onclick="playNote(G3);">**
                <rect x="592" y="399" width="64" height="44" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(42, 622, 417)" />
                <text style="font-size:28px" x="610" y="430" class="notes">G</text>
            **</a>**

            **<a href='#' id="D2" onclick="playNote(D4);">**
                <rect x="617" y="333" width="74" height="52" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="25" rx="25" transform="rotate(18, 655, 357)" />
                <text style="font-size:28px" x="645" y="367" class="notes">D</text>
            **</a>**

            **<a href='#' id="A2" onclick="playNote(A3);">**
                <rect x="647" y="274" width="62" height="40" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(-5, 679, 295)" />
                <text style="font-size:28px" x="666" y="303" class="notes">A</text>
            **</a>**

            **<a href='#' id="E2" onclick="playNote(E4);">**
                <rect x="618" y="214" width="72" height="45" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="22" rx="22" transform="rotate(-45, 652, 240)" />
                <text style="font-size:28px" x="643" y="245" class="notes">E</text>
            **</a>**

            **<a href='#' id="B2" onclick="playNote(B3);">**
                <rect x="591" y="172" width="60" height="38" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="20" rx="20" transform="rotate(-62, 616, 195)" />
                <text style="font-size:28px" x="607" y="197" class="notes">B</text>
            **</a>**

            **<a href='#' id="F#2" onclick="playNote(Fs4);">**
                <rect x="535" y="145" width="45" height="68" fill="white" stroke="black" stroke-width="3" fill-opacity="50%" 
                    ry="20" rx="20" transform="rotate(0, 616, 195)" />
                <text style="font-size:28px" x="545" y="188" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="F#3" onclick="playNote(Fs3);">**
                <path d="M 628 35 a 265 265 0 0 0 -130 -6 A 110 66 93 0 0 628 35 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="547" y="83" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="C#3" onclick="playNote(Db3);">**
                <path d="M 496 29 A 270 270 0 0 0 365 90 A 110 73 70 0 0 496 29 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="417" y="107" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G#3" onclick="playNote(Ab2);">**
                <path d="M 363 91 A 250 250 0 0 0 282 195 A 110 67 42 0 0 363 92 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="325" y="180" class="notes">G<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="Eb3" onclick="playNote(Eb3);">**
                <path d="M 280 198 A 250 250 0 0 0 254 342 A 110 73.5 12 0 0 280 198 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="290" y="290" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Bb3" onclick="playNote(Bb2);">**
                <path d="M 254 346 A 250 250 0 0 0 295 472 A 150 70 -16 0 0 254 346 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="295" y="413" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="F3" onclick="playNote(F3);">**
                <path d="M 296 473 A 250 250 0 0 0 413 583 A 150 84 -45 0 0 297 473 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="370" y="515" class="notes">F</text>
            **</a>**

            **<a href='#' id="C3" onclick="playNote(C3);">**
                <path d="M 415 584 A 290 290 0 0 0 605 611 A 150 100 -77 0 0 415 584 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="510" y="570" class="notes">C</text>
            **</a>**

            **<a href='#' id="G3" onclick="playNote(G2);">**
                <path d="M 607 611 A 260 260 0 0 0 762 527 A 200 98 65 0 0 607 611 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="655" y="540" class="notes">G</text>
            **</a>**

            **<a href='#' id="D3" onclick="playNote(D3);">**
                <path d="M 765 524 A 250 250 0 0 0 843 370 A 150 89 30 0 0 765 524 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="755" y="440" class="notes">D</text>
            **</a>**

            **<a href='#' id="A3" onclick="playNote(A2);">**
                <path d="M 843 367 A 260 260 0 0 0 828 215 A 200 86 -5 0 0 843 367 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="780" y="305" class="notes">A</text>
            **</a>**

            **<a href='#' id="E3" onclick="playNote(E3);">**
                <path d="M 827 213 A 250 250 0 0 0 742 95 A 200 81 -38 0 0 826 213 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="740" y="190" class="notes">E</text>
            **</a>**

            **<a href='#' id="B3" onclick="playNote(B2);">**
                <path d="M 740 93 A 260 260 0 0 0 630 36 A 150 67 -63 0 0 739 93 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:42px" x="655" y="115" class="notes">B</text>
            **</a>**
        </svg>
    </div>

    <!-- <script>
        document.addEventListener('touchstart', f)

        function f(ev) {
            [...ev.touches].forEach(touch => {
                let note_str = touch.target.parentElement.id
                let note = window[note_str]
                playNote(note)
            })
        }
    </script> -->

    {% endblock %}