{% extends "user.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h1 align="center" style="line-height: 100px;">Login</h1>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary" style="background-color: #383c44; border-color: #383c44;">Login</button>
    </form>

    <div style="margin-top: 10px;">
      <h5 style="line-height: 50px;">New to Steel Dores?</h5>
      <a href="/sign-up">
        <button class="btn btn-primary" style="background-color: #383c44; border-color: #383c44;">Sign Up Here!</button>
      </a>
    </div>
    {% endblock %}