{% extends "user.html" %} {% block title %}Menu{% endblock %} {% block content
    %}
    <h1 align="center" style="line-height: 70px;">Menu</h1>
    <div class="container-fluid">
        <div class="row" style="row-gap:20px">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/drum-select'>
                        <img src="/static/Design/drum-selection.png" width="275px" align="center" />
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/music-library'>
                        <img src="/static/Design/music-library.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/settings'>
                        <img src="/static/Design/settings.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/help'>
                        <img src="/static/Design/help.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
{#            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">#}
{#                <div style="text-align: center;">#}
{#                    <a href = '/tenor-bass'>#}
{#                        <img src="/static/Design/tenor-bass-low-res.png" width="275px" align="center" />#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" style="background-color:black;">#}
{#                <div style="text-align: center;">#}
{#                    <a href = '/six-bass'>#}
{#                        <img src="/static/Design/six-bass-low-res.png" width="275px" align="center" />#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    {% endblock %}

