{% extends "user.html" %} {% block title %}Menu{% endblock %} {% block content
    %}
    <h1 align="center" style="line-height: 70px;">Menu</h1>
    <div class="container-fluid">
        <div class="row" style="row-gap:20px">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/drum-select'>
                        <img src="/static/Design/drum-selection.png" width="275px" align="center" />
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/music-library'>
                        <img src="/static/Design/music-library.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/settings'>
                        <img src="/static/Design/settings.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:black;">
                <div style="text-align: center;">
                    <a href = '/help'>
                        <img src="/static/Design/help.png" width="275px" align="center" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

