{% extends "user.html" %} {% block title %}Music Library{% endblock %} {% block content
      %}
    <div style="overflow-x:auto;">
      <h1 align="center" style="line-height: 70px;">Music Library</h1>
      <table>
        <tr>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Date Added</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Title</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Composer</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Genre</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Description</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Sheet Music</th>
          <th style="width:12.71%; font-family: impact; font-size: 20px;">Audio</th>
          {% if user.is_admin %}
            <th style="width:5.5%; font-family: impact; font-size: 20px;">Edit</th>
            <th style="width:5.5%; font-family: impact; font-size: 20px;">Delete</th>
          {% endif %}
        </tr>
        {% for music in query %}
          <tr>
            <td>{{ music.date }}</td>
            <td>{{ music.title }}</td>

            {% if music.composer != '' %}
              <td>{{ music.composer }}</td>
            {% else %}
              <td><em>No composer provided.</em></td>
            {% endif %}

            {% if music.genre != '' %}
              <td>{{ music.genre }}</td>
            {% else %}
              <td><em>No genre provided.</em></td>
            {% endif %}

            {% if music.description != '' %}
              <td>{{ music.description }}</td>
            {% else %}
              <td><em>No description provided.</em></td>
            {% endif %}

            {% if music.pdf_link != '' %}
              <td><a href="{{ music.pdf_link }}" target="_blank">Click Here</a></td>
            {% else %}
              <td><em>No link provided.</em></td>
            {% endif %}

            {% if music.audio_link != '' %}
              <td><a href="{{ music.audio_link }}" target="_blank">Click Here</a></td>
            {% else %}
              <td><em>No link provided.</em></td>
            {% endif %}

            {% if user.is_admin %}
            <td>
              <a href="{{ url_for('auth.edit_music', id=music.id) }}">
                <img src='static/Design/Edit.png' height=30/>
              </a>
            </td>
            <td>
              <a href="{{ url_for('views.delete_music', id=music.id) }}"
                 onclick="return confirm('Are you sure you want to delete this sample?');">
                <img src='static/Design/Delete.png' height=30 />
              </a>
            </td>
          {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    {% if user.is_admin %}
    <div>
      <a href = "/add-music">
        <button class="button"></i>Add Music</button>
      </a>
    </div>
    <br>
    {% endif %}
    {% endblock %}