{% extends "user.html" %} {% block title %}Music Library{% endblock %} {% block content
      %}
    <div>
      <h1 align="center" style="line-height: 100px;">Music Library</h1>
      <body>
        {# BUTTONS #}
        <a href = "/menu">
          <button class="button button1"><i class="fa-solid fa-arrow-left"></i> Menu</button>
        </a>

        <a href = "/settings">
            <button class="button button3"><img src="/static/Design/settings-icon.png" alt="Settings" width="55"></button>
        </a>

        <a href = "/help">
            <button class="button button4"><img src="/static/Design/help-icon.png" alt="Help" width="55"></button>
        </a>
      </body>
      <table>
        <tr>
          <th style="font-family:impact; font-size: 20px;">Date Added</th>
          <th style="font-family:impact; font-size: 20px;">Title</th>
          <th style="font-family:impact; font-size: 20px;">Composer</th>
          <th style="font-family:impact; font-size: 20px;">Genre</th>
          <th style="font-family:impact; font-size: 20px;">Description</th>
          <th style="font-family:impact; font-size: 20px;">Sheet Music</th>
          <th style="font-family:impact; font-size: 20px;">Audio</th>
        </tr>
        {% for music in query %}
          <tr>
            <td>{{ music.date }}</td>
            <td>{{ music.title }}</td>

            {% if music.composer != '' %}
              <td>{{ music.composer }}</td>
            {% else %}
              <td><em>No composer provided.</em></td>
            {% endif %}

            {% if music.genre != '' %}
              <td>{{ music.genre }}</td>
            {% else %}
              <td><em>No genre provided.</em></td>
            {% endif %}

            {% if music.description != '' %}
              <td>{{ music.description }}</td>
            {% else %}
              <td><em>No description provided.</em></td>
            {% endif %}

            {% if music.pdf_link != '' %}
              <td><a href="{{ music.pdf_link }}" target="_blank">Click Here</a></td>
            {% else %}
              <td><em>No link provided.</em></td>
            {% endif %}

            {% if music.audio_link != '' %}
              <td><a href="{{ music.audio_link }}" target="_blank">Click Here</a></td>
            {% else %}
              <td><em>No link provided.</em></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    {% if user.is_admin %}
    <div style="text-align: center;">
      <a href="/add-music">
        <button class="btn btn-primary" style="background-color: #383c44;
          border-color: #383c44;">Add Music Sample</button>
      </a>
    </div>
    <br>
    {% endif %}
    {% endblock %}