{% extends "user.html" %} {% block title %}Settings{% endblock %} {% block content
    %}
<!--    <body>-->
<!--            {# BUTTONS #}-->
<!--        <a href = "/menu">-->
<!--          <button class="button button1">Menu</button>-->
<!--        </a>-->


<!--        <a href = "/help">-->
<!--            <button class="button button3"><img src="/static/Design/help-icon.png" alt="Help" width="55"></button>-->
<!--        </a>-->
<!--    </body>-->
    <form method="POST">
        <h1 align="center" style="line-height: 70px;">Settings</h1>
    
        <input type="color" id="background" 
               name="background" style="border-color: gainsboro" 
               value={{ user.background_color }} /> -->

        <button type="submit" class="btn btn-primary" 
            style="background-color: #383c44; border-color: #383c44;">
            Change Background Color</button>

        <p></p>
        <input type="color" id="drum-color" 
                name="drum-color" style="border-color: gainsboro" 
                value={{ user.drum_color }} /> -->
        <button type="submit" class="btn btn-primary" 
            style="background-color: #383c44; border-color: #383c44;">
            Change Drum Color</button>

        <p></p>
        <input type="text" id ="new-password" name="new-password" /> -->
        <button type="submit" class="btn btn-primary" 
            style="background-color: #383c44; border-color: #383c44;">
            Change Password</button>

    
        <p></p>
        <input type="button" class="btn btn-primary" 
            style="background-color: #383c44; border-color: #383c44;"
            id = "deleteButton" value = "Delete Account">

    </form>

    {% if user.is_admin %}
    <br>
    <div>
      <a href = "/change-user-permissions">
        <button class="button"></i>Change User Permissions</button>
      </a>
    </div>
    <br>
    {% endif %}

    {% endblock %}