{% extends "user.html" %} {% block title %}Settings{% endblock %} {% block content
    %}
<!--    <body>-->
<!--            {# BUTTONS #}-->
<!--        <a href = "/menu">-->
<!--          <button class="button button1">Menu</button>-->
<!--        </a>-->


<!--        <a href = "/help">-->
<!--            <button class="button button3"><img src="/static/Design/help-icon.png" alt="Help" width="55"></button>-->
<!--        </a>-->
<!--    </body>-->
    <form method="POST" align="center">
        <h1 align="center" style="line-height: 70px;">Settings</h1>
        <table align="center" style="width:30%;">
            <tr>
                <td class="settings">
                    <input type="color" id="background" 
                    name="background" style="border-color: gainsboro;" 
                    value={{ user.background_color }} />
                </td>
                <td class="settings">
                    <input type="color" id="drum-color" 
                    name="drum-color" style="border-color: gainsboro" 
                    value={{ user.drum_color }} />
                </td>
            </tr>
            <tr>
                <td class="settings"><label class="account">Background Color</label></td>
                <td class="settings"><label class="account">Drum Color</label></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary" 
            style="background-color: #383c44; border-color: #383c44;">
            Save Changes</button>
    </form>

    <br>
    <h3 align="center" style="line-height: 30px;">Account Information</h3>

    <table align="center" style="width:30%;">
        <tr>
            <td class="settings">
                <label class="account">Email: {{ user.email }}</label>
            </td>
        </tr>
        <tr>
            <td class="settings">
                <label class="account">First Name: {{ user.first_name }}</label>
            </td>
        </tr>
        <tr>
            <td class="settings">
                <label class="account">Sign-Up Date: {{ user.sign_up_date }}</label>
            </td>
        </tr>
        <tr>
            <td class="settings">
                {% if user.is_admin %}
                    <label class="account">Permissions: Admin User</label>
                {% else %}
                    <label class="account">Permissions: Regular User</label>
                {% endif %}
            </td>
        </tr>
    </table>
    <table align="center" style="width:29%;">
        <tr>
            <td class="settings">
                <a href="/update-account">
                    <button class="btn btn-primary" 
                    style="background-color: #383c44; border-color: #383c44;">
                    Update Account</button>
                </a>
            </td>
            <td class="settings">
                <a href="/change-password">
                    <button class="btn btn-primary" 
                    style="background-color: #383c44; border-color: #383c44;">
                    Change Password</button>
                </a>
            </td>
            <td class="settings">
                <a href="/delete-account">
                    <button class="btn btn-primary" 
                    onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');"
                    style="background-color: #383c44; border-color: #383c44;">
                    Delete Account</button>
                </a>
            </td>
        </tr>
    </table>

    {% if user.is_admin %}
    <table align="center" style="width:35%;">
        <tr>
            <td class="settings">
                <a href="/change-user-permissions">
                    <button class="btn btn-primary" 
                    style="background-color: #383c44; border-color: #383c44;">
                    Admin: Change User Permissions</button>
                </a>
            </td>
        </tr>
    </table>
    {% endif %}

    <table align="center" style="width:40%;">
        <tr>
            <td class="settings">
                <a href="/logout" onclick="return confirm('Are you sure you want to logout?');">
                    <button class="btn btn-primary" 
                    style="background-color: #383c44; border-color: #383c44;">
                    Logout</button>
                </a>
            </td>
        </tr>
    </table>

    {% endblock %}