{% extends "drum.html" %} {% block title %}Six Bass Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1280 1584"
        preserveAspectRatio="xMidYMid meet">
            <image href="/static/six_bass.png" x="85" y="0" height="535"></image>
            <image href="/static/six_bass_UR.png" x="640" y="5" height="537"></image>
            <image href="/static/six_bass_ML.png" x="10" y="530" height="518"></image>
            <image href="/static/six_bass_MR.png" x="720" y="515" height="542"></image>
            <image href="/static/six_bass_LL.png" x="85" y="1040" height="542"></image>
            <image href="/static/six_bass_LR.png" x="650" y="1055" height="540"></image>

            <ellipse cx="360" cy="265" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="920" cy="265" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="280" cy="790" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="1000" cy="790" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="355" cy="1320" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>
            <ellipse cx="925" cy="1320" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro" fill-opacity="60%" 
            fill="grey"/>

            **<a href='#' id="C-1">**
                <path d="M 200 75 a 250 250 0 0 0 165 440 A 400 420 60 0 0 200 75 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="C-2">**
                <path d="M 385 514 a 250 250 0 0 0 223 -220 A 195 195 0 0 0 385 514 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="G">**
                <path d="M 238 47 a 250 250 0 0 1 370 210 A 420 290 80 0 1 238 47 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="D-1">**
                <path d="M 45 705 a 250 250 0 0 0 360 300 A 420 290 74 0 0 45 705 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="D-2">**
                <path d="M 420 995 a 250 250 0 0 0 93 -300 A 195 195 0 0 0 420 995 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="A">**
                <path d="M 65 660 a 250 250 0 0 1 430 0 A 420 290 47 0 1 65 660 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="B-1">**
                <path d="M 105 1305 a 250 250 0 0 0 440 180 A 420 290 52 0 0 105 1305 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="B-2">**
                <path d="M 553 1470 a 250 250 0 0 0 -10 -315 A 195 195 0 0 0 553 1470 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="E">**
                <path d="M 110 1260 a 250 250 0 0 1 410 -128 A 420 290 30 0 1 110 1260 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Bb-1">**
                <path d="M 1158 190 a 250 250 0 0 0 -470 -20 A 420 290 38 0 0 1158 190 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Bb-2">**
                <path d="M 685 190 a 250 250 0 0 0 110 290 A 195 195 0 0 0 685 190 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="F">**
                <path d="M 1168 240 a 250 250 0 0 1 -340 258 A 420 290 11 0 1 1168 240 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Eb-1">**
                <path d="M 1245 735 a 250 250 0 0 0 -465 -65 A 420 290 42 0 0 1245 735 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Eb-2">**
                <path d="M 775 688 a 250 250 0 0 0 75 300 A 190 190 0 0 0 775 688 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="Ab">**
                <path d="M 1250 780 a 250 250 0 0 1 -363 233 A 420 290 13 0 1 1250 780 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="C#-1">**
                <path d="M 1158 1229 a 250 250 0 0 0 -470 15 A 420 290 30 0 0 1158 1229 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="C#-2">**
                <path d="M 683 1262 a 250 250 0 0 0 132 280 A 190 190 0 0 0 683 1262 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**

            **<a href='#' id="F#">**
                <path d="M 1170 1273 a 250 250 0 0 1 -315 285 A 420 290 7 0 1 1170 1273 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
            **</a>**
        </svg>
    </div>

    {% endblock %}