{% extends "drum.html" %} {% block title %}Six Bass Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1280 1584"
        preserveAspectRatio="xMidYMid meet">
            <ellipse cx="360" cy="265" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="920" cy="265" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="280" cy="790" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="1000" cy="790" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="355" cy="1320" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="925" cy="1320" rx="250" ry="250" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>

            **<a href='#' id="C-1" onclick="playNote(C2);">**
                <path d="M 198 75 a 250 250 0 0 0 162 440 A 400 420 60 0 0 199 75 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="220" y="340" class="notes">C</text>
            **</a>**

            **<a href='#' id="C-2" onclick="playNote(C3);">**
                <path d="M 385 514 a 250 250 0 0 0 223 -220 A 195 195 0 0 0 385 514 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="455" y="420" class="notes">C</text>
            **</a>**

            **<a href='#' id="G" onclick="playNote(G2);">**
                <path d="M 238 47 a 250 250 0 0 1 372 210 A 420 290 80 0 1 238 47 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="390" y="170" class="notes">G</text>
            **</a>**

            **<a href='#' id="D-1" onclick="playNote(D2);">**
                <path d="M 45 705 a 250 250 0 0 0 360 302 A 420 290 70 0 0 45 705 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="170" y="920" class="notes">D</text>
            **</a>**

            **<a href='#' id="D-2" onclick="playNote(D3);">**
                <path d="M 422 995 a 250 250 0 0 0 90 -300 A 195 195 0 0 0 422 994 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="425" y="870" class="notes">D</text>
            **</a>**

            **<a href='#' id="A" onclick="playNote(A2);">**
                <path d="M 65 662 a 250 250 0 0 1 430 0 A 420 290 47 0 1 65 662 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="255" y="670" class="notes">A</text>
            **</a>**

            **<a href='#' id="B-1" onclick="playNote(B1);">**
                <path d="M 105 1302 a 250 250 0 0 0 440 180 A 420 290 48 0 0 105 1302 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="270" y="1470" class="notes">B</text>
            **</a>**

            **<a href='#' id="B-2" onclick="playNote(B2);">**
                <path d="M 554 1470 a 250 250 0 0 0 -11 -315 A 195 195 0 0 0 553 1470 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="510" y="1340" class="notes">B</text>
            **</a>**

            **<a href='#' id="E" onclick="playNote(E2);">**
                <path d="M 112 1262 a 250 250 0 0 1 410 -128 A 420 290 30 0 1 112 1262 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="290" y="1205" class="notes">E</text>
            **</a>**

            **<a href='#' id="Bb-1" onclick="playNote(Bb1);">**
                <path d="M 1158 190 a 250 250 0 0 0 -469 -20 A 420 290 36 0 0 1158 190 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="890" y="170" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Bb-2" onclick="playNote(Bb2);">**
                <path d="M 682 190 a 250 250 0 0 0 110 290 A 195 195 0 0 0 682 190 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="710" y="370" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="F" onclick="playNote(F2);">**
                <path d="M 1168 240 a 250 250 0 0 1 -340 258 A 420 290 11 0 1 1168 240 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="970" y="415" class="notes">F</text>
            **</a>**

            **<a href='#' id="Eb-1" onclick="playNote(Eb2);">**
                <path d="M 1245 737 a 250 250 0 0 0 -465 -65 A 420 290 42 0 0 1245 737 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="980" y="690" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Eb-2" onclick="playNote(Eb3);">**
                <path d="M 772 688 a 250 250 0 0 0 75 300 A 190 190 0 0 0 772 688 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="790" y="870" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="Ab" onclick="playNote(Ab2);">**
                <path d="M 1250 780 a 250 250 0 0 1 -363 233 A 420 290 4 0 1 1250 780 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="1035" y="945" class="notes">A<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C#-1" onclick="playNote(Db2);">**
                <path d="M 1158 1229 a 250 250 0 0 0 -470 13 A 420 290 30 0 0 1158 1229 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="890" y="1220" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="C#-2" onclick="playNote(Db3);">**
                <path d="M 682 1262 a 250 250 0 0 0 132 282 A 190 190 0 0 0 682 1262 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="720" y="1440" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="F#" onclick="playNote(Fs2);">**
                <path d="M 1170 1273 a 250 250 0 0 1 -315 287 A 420 290 3 0 1 1170 1273 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:95px" x="980" y="1455" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**
        </svg>
    </div>

    {% endblock %}