{% extends "drum.html" %} {% block title %}Tenor Bass Drum{% endblock %} {% block content
    %}
    <div id="content" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
        viewBox="0 0 1420 824"
        preserveAspectRatio="xMidYMid meet">
            <ellipse cx="480" cy="236" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="922" cy="236" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="220" cy="590" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>
            <ellipse cx="1190" cy="590" rx="210" ry="210" stroke="black" stroke-width="3" fill="gainsboro"
            fill="grey"/>

            **<a href='#' id="Bb1" onclick="playNote(Bb3);">**
                <rect x="183" y="505" width="74" height="165" fill="white" stroke="black" stroke-width="3" fill-opacity="50%"/>
                <text style="font-size:55px" x="198" y="605" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C1" onclick="playNote(C4);">**
                <rect x="443" y="147" width="74" height="168" fill="white" stroke="black" stroke-width="3" fill-opacity="50%"/>
                <text style="font-size:55px" x="460" y="250" class="notes">C</text>
            **</a>**

            **<a href='#' id="B1" onclick="playNote(B3);">**
                <rect x="892" y="153" width="76" height="160" fill="white" stroke="black" stroke-width="3" fill-opacity="50%"/>
                <text style="font-size:55px" x="915" y="250" class="notes">B</text>
            **</a>**

            **<a href='#' id="A1" onclick="playNote(A3);">**
                <rect x="1155" y="512" width="76" height="156" fill="white" stroke="black" stroke-width="3" fill-opacity="50%"/>
                <text style="font-size:55px" x="1175" y="605" class="notes">A</text>
            **</a>**

            **<a href='#' id="F#2-1" onclick="playNote(Fs2);">**
                <path d="M 62 728 l 100 -58 l 4 -160 l -71 -89 A 210 210 0 0 0 62 728 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="70" y="600" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G#2-1" onclick="playNote(Ab2);">**
                <path d="M 324 377 l 102 -60 l 4 -158 l -71 -95 A 210 210 0 0 0 324 377 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="330" y="240" class="notes">G<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G2-1" onclick="playNote(G2);">**
                <path d="M 765 375 l 109 -65 l 1 -158 l -74 -87 A 210 210 0 0 0 764 375 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="775" y="240" class="notes">G</text>
            **</a>**

            **<a href='#' id="F2-1" onclick="playNote(F2);">**
                <path d="M 1035 732 l 101 -65 l 0 -160 l -67 -88 A 210 210 0 0 0 1035 732 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="1045" y="595" class="notes">F</text>
            **</a>**

            **<a href='#' id="F#2-2" onclick="playNote(Fs3);">**
                <path d="M 115 408 l 60 87 l 95 0 l 73 -75 A 210 210 0 0 0 115 408 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="205" y="455" class="notes">F<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G#2-2" onclick="playNote(Ab3);">**
                <path d="M 378 54 l 55 81 l 95 -2 l 75 -67 A 210 210 0 0 0 378 53 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="460" y="100" class="notes">G<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**

            **<a href='#' id="G2-2" onclick="playNote(G3);">**
                <path d="M 819 53 l 60 87 l 98 -4 l 73 -67 A 210 210 0 0 0 819 53 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="910" y="100" class="notes">G</text>
            **</a>**

            **<a href='#' id="F2-2" onclick="playNote(F3);">**
                <path d="M 1087 408 l 59 85 l 95 0 l 70 -74 A 210 210 0 0 0 1087 407 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="1185" y="450" class="notes">F</text>
            **</a>**

            **<a href='#' id="Bb2" onclick="playNote(Bb2);">**
                <path d="M 362 436 l -91 76 l 0 155 l 88 80 A 210 210 0 0 0 362 436 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="325" y="600" class="notes">B<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C2" onclick="playNote(C3);">**
                <path d="M 619 79 l -86 77 l 3 155 l 88 78 A 210 210 0 0 0 619 79 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="590" y="250" class="notes">C</text>
            **</a>**

            **<a href='#' id="B2" onclick="playNote(B2);">**
                <path d="M 1064 81 l -83 73 l 1 150 l 90 78 A 210 210 0 0 0 1064 81 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="1040" y="245" class="notes">B</text>
            **</a>**

            **<a href='#' id="A2" onclick="playNote(A2);">**
                <path d="M 1327 431 l -82 77 l 3 157 l 89 75 A 210 210 0 0 0 1327 431 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="1300" y="600" class="notes">A</text>
            **</a>**

            **<a href='#' id="D2" onclick="playNote(D3);">**
                <path d="M 340 762 l -68 -72 l -112 0 l -82 55 A 210 210 0 0 0 340 762 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="200" y="760" class="notes">D</text>
            **</a>**

            **<a href='#' id="E2" onclick="playNote(E3);">**
                <path d="M 610 400 l -78 -73 l -110 1 l -88 59 A 210 210 0 0 0 610 401 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="470" y="405" class="notes">E</text>
            **</a>**

            **<a href='#' id="Eb2" onclick="playNote(Eb3);">**
                <path d="M 1060 394 l -78 -67 l -110 1 l -94 60 A 210 210 0 0 0 1060 394 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="900" y="405" class="notes">E<tspan dy="-4" font-size=".8em">&#x266d</tspan></text>
            **</a>**

            **<a href='#' id="C#2" onclick="playNote(Db3);">**
                <path d="M 1322 753 l -71 -67 l -118 0 l -84 59 A 210 210 0 0 0 1322 753 Z" 
                fill="white" stroke="black" stroke-width="3" fill-opacity="50%" />
                <text style="font-size:55px" x="1170" y="760" class="notes">C<tspan dy="-4" font-size=".8em">&#x266f</tspan></text>
            **</a>**
        </svg>
    </div>

    {% endblock %}